<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-login-form/draw2.png" class="img-fluid"alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
         
            <div>
                <h1>
                  <div class="display-3">MyBlog</div>
                  <div class="display-6 text-muted my-4">Road To Blogging</div>
                </h1>
            </div>
            
            <button class="btn btn-lg btn-block btn-danger my-2" (click)="signInFunction()" style="background-color: #dd4b39;" type="submit">
                <i class="bi bi-google m-2"></i>Sign in with google +
            </button>
         
        </div>
      </div>
    </div>
    
</section>



